{% extends "components/base.html" %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block page_content %}

    <div class="container" style="margin-top:3.5em;">
        <div class="pure-g">
            <div class="pure-u-1">
                <h1 class="pure-u-1 is-center" style="text-align: center; color: #333; margin: 2rem 0;">Our Dedicated Biorepository Specialists</h1>
                <div class="pure-u-1 is-center">
                    <p>
                        With deep expertise in specimen handling, data integrity, and ethical research practices, our staff ensures every sample is collected, preserved, and managed to the highest standards. Their commitment fuels groundbreaking studies and supports the future of personalized medicine.
                    </p>
                </div>
                <hr>
                <div class="cards">
                    <div class="card">
                        <div class="card-content">
                            <h2 class="card-title">Stacy Caillier</h2>
                            <p class="card-subtitle">Biorepository Manager</p>
                            <p class="card-text">Stacy is leading the application of immunological assays to assess the functional role of genetic variants associated with multiple sclerosis susceptibility and progression.</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content">
                            <h2 class="card-title">Rosa Guerrero</h2>
                            <p class="card-subtitle">Bio-Specimens Technician</p>
                            <p class="card-text">Rosa's primary responsibility is the isolation of high quality nucleic acids from blood samples received from across the United States and abroad for genetic studies in multiple sclerosis.</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content">
                            <h2 class="card-title">Emily Alvarez</h2>
                            <p class="card-subtitle">Bio-Specimens Technician</p>
                            <p class="card-text">Emily's roles include the isolation of high-quality nucleic acids from blood samples and sample storage for genetic clinical and laboratory studies.</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content">
                            <h2 class="card-title">Adam Santaniello</h2>
                            <p class="card-subtitle">Database Manager</p>
                            <p class="card-text">Adam is leading the integration and enhancement of the lab's data sources.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <h2 class="card-title">Adam Renschen</h2>
                            <p class="card-subtitle">Data Systems Analyst </p>
                            <p class="card-text">Adam assists with the management of the laboratory databases, IT hardware, and provides technical support.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <h2 class="card-title">Rachel Ibarbia</h2>
                            <p class="card-subtitle">Bio-Specimens Technician</p>
                            <p class="card-text">Rachel's roles include the processing of blood samples to attain high-quality nucleic acids from blood samples and sample storage for a variety of clinical and laboratory studies.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <h1 class="pure-u-1 is-center" style="text-align: center; color: #333; margin: 2rem 0;">WNBR Leadership</h1>
                <div class="cards">
                    <div class="card">
                        <div class="card-content">
                            <h2 class="card-title">Jorge Oksenberg, PhD.</h2>
                            <p class="card-subtitle">Primary Investigator</p>
                            <p class="card-text">Dr. Oksenberg is a leading expert in immunogenetics, with groundbreaking research focused on the genetic underpinnings of autoimmune diseases, particularly multiple sclerosis. </p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content">
                            <h2 class="card-title">Riley Bove, MD</h2>
                            <p class="card-subtitle">Primary Investigator</p>
                            <p class="card-text">Dr. Bove is a leading clinician-scientist specializing in multiple sclerosis (MS), with a particular emphasis on the impact of hormonal changes on disease progression and patient quality of life.</p>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content">
                            <h2 class="card-title">Stephen Hauser, MD</h2>
                            <p class="card-subtitle">Director, Weill Institute for Neurosciences</p>
                            <p class="card-text">Dr. Hauser is a distinguished neurologist whose pioneering research has significantly advanced the understanding and treatment of multiple sclerosis (MS). </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}