<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="{{ url_for('index') }}">
            <img class="pure-img" src="{{ url_for('static',
filename='images/UCSF_Entity_Weill_Biobank_Horiz_white_RGB_1.png') }}" style="max-height: 35px;">
        </a>
    
        <ul class="pure-menu-list">
	    <li class="pure-menu-item"><a href="{{ url_for('biobankindex') }}" class="pure-menu-link">BioRepository Services</a></li>
	    <li class="pure-menu-item"><a href="{{ url_for('dataservicesindex') }}" class="pure-menu-link">Data Services</a></li>
        <li class="pure-menu-item"><a href="{{ url_for('biobankteam') }}" class="pure-menu-link">BioRepository Team</a></li>
        </ul>
    </div>
</div>
